/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --accent-color: var(--pure-pink);
  --title-color: var(--pink);
  --text-color: var(--soft-pink);
  --text-color-h3: var(--black);
  --text-color-h2:var(--accent-color);
  --menu-color:var(--pure-pink);
  --decor-color: var(--pure-pink);
  --theme-menu-hover-color: var(--pur-pink-transp);
}

.theme-dark .page {
  --bg-page: var(--bg-page-dark);
}
